* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Nunito', monospace, sans-serif;
}

header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.topbar {
  align-items: center;
  background-color: rgba(255, 255, 255, .5);
  display: flex;
  flex-direction: row;
  height: 4em;
  justify-content: space-between;
}
.icons {
  display:flex;
  flex-direction: row;
  margin-left: 4em;
  width: 35%;
}
.cityicon {
  padding: 1em 0 1em .5em;
}
.nav1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 65%;
}
.searchTerm {
  height: 25px;
  position: relative;
  top: 3em;
  width: 14em;
}
ul {
  list-style-type: none;

}
ul {
  display: flex;
  flex-direction: row;
  padding: 1em;
}
.mainbar {
  background: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.icon {
  height: 25px;
  margin: 1em;
  width: 25px;
}
.icon2 {
  height: 25px;
  margin: .5em;
  width: 25px;
}

main{
  background: rgb(3,23,58);
  position: absolute;
  width: 100%;
}
.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(night.jpg);
  margin-top: 15em;
  height: 30em;
  width: 100%;
}
h1 {
  font-family: 'Lato';
  font-size: 60px;
  padding: 1em;
  text-align: center;
  text-shadow: 0 0 10px rgb(88,182,232), 0 0 20px rgb(88,182,232), 0 0 30px rgb(88,182,232), 0 0 40px rgb(219,76,63), 0 0 70px rgb(219,76,63), 0 0 80px rgb(219,76,63);
  text-transform: uppercase;
  width: 60%;
}

h2 {
  color: white;
  box-shadow: 2px 3px 5px -2px rgb(8,98,246);
  font-family: 'Lato';
  margin: 0;
  padding: .75em;
  text-transform: uppercase;
}

h3 {
  font-weight: bold;
  margin: 1em 0 1em 0;
  text-transform: uppercase;
}
h4 {
  font-family: "Lato";
  font-size: 20px;
  font-weight: 900;
  margin: 1em 0 1em 0;
}
p {
  font-size: 18px;
}
.city-council {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  margin: 0;

}
.counciltop {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  padding: 2em 0 2em 0;
  width: 100%;
}
.council {
  padding: 1em;
  box-shadow: 3px 3px 9px 2px rgb(67,133,249);
}

.council-meetings {
  box-shadow: 3px 3px 9px 2px rgb(67,133,249);
  padding: 1em;
}

.work {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.work > a {
  color: aliceblue;
  box-shadow: 3px 3px 9px 2px rgb(67,133,249);
  border-radius: 45%;
  font-family: 'Lato';
  font-weight: bold;
  font-size: 24px;
  margin: .5em;
  padding: 3em 1em 3em 1em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.work > a:hover {
  color: rgb(3,23,58);
  background-color: rgba(67,133,249,.75);
}

.ourwork {
  margin-top: 4em;
  padding: 4em 1em 4em 1em;
  width: 100%;
}

.red-button {
  background: red;
  color: white;
  font-family: 'Lato';
  font-weight: bold;
  line-height: 6em;
  text-decoration: none;
  text-transform: uppercase;
  padding: .5em 1.5em .5em 1.5em;
}

.red-button:hover {
  background: maroon;
  text-decoration: underline;
}
#pay {
  position: relative;
  top: .5em;
  right: .5em;
}
details {
  font-family: 'Nunito';
  font-size: 18px;
padding: 0;
}
details > summary {
  font-weight: bold;
  list-style: none;
padding: 0;
}
details > summary::-webkit-details-marker {
  display: none;
}
details[open] {
  font-family: 'Nunito';
  padding: .5em;
}
details[open] summary {
  margin-bottom: .5em;
}
.councilmembers {
  display: flex;
  flex-direction: column;
justify-content: space-around;
  margin: 0;
}

h5 {
  font-family: 'Lato';
  font-size: 18px;
  font-weight: bold;
}
.profile {
  background-color: #e8e7e7;
  display: flex;
  flex-direction: row;
  margin: 1em;
}
.propic {
  width: 200px;
  height: 300px;
  margin: 1em;
}
.info {
  margin: 1em;
}
@media screen and (max-width: 650px){
  .icons {
    display: none;
  }
  .icon2 {
    width: 100%;
  }
  .nav2 {
    display: none;
  }
}

@media screen and (min-width: 767px) {
  .work > a {
    margin: 1em;
    height: 230px;
    width: 250px;
  }

  .membrs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 43%;
  }
}
@media screen and (max-width: 1030px){

  .icon2 {
    display: none;
  }
  .icons {
    margin-left: 0;
  }

}
@media screen and (min-width: 1030px) {
  .counciltop {
    flex-direction: row;
    margin: 4em;
  }
  .council-meetings {
    width: 30%;
  }
  .council {
    width: 60%;
  }
  .work > a {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
  .membrs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .profile {
    width: 300px;
  }
}
@media screen and (min-width: 1300px) {

  }
}
